.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,.75);
}

.modal{
      position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
      z-index: 100 ;
    overflow: hidden;
}

.header{
    background-color: #4f005f;
    padding: 1rem;
}

.header h2{
    margin: 0;
    color: #fff;
}

 .content{
    height: 20vh;
    display: flex;
    align-items: center;
    padding:2rem ;
}

.action {
display: flex;
justify-content: flex-end;
padding:1rem;
}