   .gallery {
      width: 100%;
      max-width: 100%;
      margin: 3rem auto;
      padding-right: 2rem;
      box-sizing: border-box;
    }
    
    .galleryHeader {
      text-align: center;
      margin-bottom: 0px;

    }
   
      .gallery p{
        width:40vw ;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 3rem;
       }

.galleryImages {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
padding-left: 0;
}

    
    .galleryImage {
          list-style: none;
      width: 100%;
      position: relative;
      overflow: hidden;
    }
    
    .galleryImage {
  position: relative;
}

.galleryImage img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(70%);
}

    .galleryImage img {
      width: 100%;
      height: 100%;
      object-fit: cover;
     width: 100%;
     height: auto;
     -webkit-transform: scale(1.13);
     transform: scale(1.13);
     -webkit-transition: filter 0.5s, -webkit-transform 0.5s;
     transition: filter 0.5s, -webkit-transform 0.5s;
     transition: transform 0.5s, filter 0.5s;
     transition: transform 0.5s, filter 0.5s, -webkit-transform 0.5s;
      
    }

.gallery h3{
  color: hsl(var(--color__red),.5);
  margin-bottom: 1rem;
}
     .galleryImage img:hover {
  
     -webkit-transform: scale(1.30);
     transform: scale(1.30);
      filter: grayscale(0%);
}




