.bgHeight{
    height: 100vh;
}

.position{

  position: relative;
  left: 50%;
  top :50%;
  transform: translate(-50%,-10%);
  
}

@media only screen and (max-width: 480px) {
  /* Your CSS for extra small devices */
.bgHeight{
    height: 8vh;
}

}
